@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: false
) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: local($font-family), url($file-path);

    // @if $asset-pipeline == true {
    //   src: url("#{$file-path}.eot");
    //   src: url("#{$file-path}.eot?#iefix") format("embedded-opentype"),
    //     url("#{$file-path}.woff") format("woff"),
    //     url("#{$file-path}.ttf") format("truetype");
    // } @else {
    //   src: url("#{$file-path}.eot");
    //   src: url("#{$file-path}.eot?#iefix") format("embedded-opentype"),
    //     url("#{$file-path}.woff") format("woff"),
    //     url("#{$file-path}.ttf") format("truetype");
    // }
  }
}

@include font-face("Roboto", "../assets/fonts/Roboto/Roboto-Regular.ttf");
@include font-face(
  "RobotoBold",
  "../assets/fonts/Roboto/Roboto-Bold.ttf",
  bold
);
@include font-face("RobotoMedium", "../assets/fonts/Roboto/Roboto-Medium.ttf");

@include font-face(
  "PTSansBold",
  "../assets/fonts/PTSansCapBold/PTSansCaption-Bold.ttf",
  bold
);

@include font-face(
  "PTSansRegular",
  "../assets/fonts/PTSansCapRegular/PTSansCaption-Regular.ttf",
  bold
);
